@{
    ViewBag.Title = "Contact";
}
<!-- Begin Map -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 no-padding" style="margin-bottom: -7px;">
            <iframe style="border: 0px none; border-color:#fff; width:100%;" height="350" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61799.930314739526!2d121.03019293374125!3d14.513618246521773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397cf4a54fe3001%3A0x2fae7af0a998d2ad!2sTaguig%2C+Metro+Manila%2C+Philippines!5e0!3m2!1sen!2snz!4v1458259560412"></iframe>
        </div>
    </div>
</div>
<!-- End Map -->

<!-- Begin Contact -->
<section class="mt40 mb40">
    <div class="container">

        <!-- Form + Sidebar -->
        <div class="row">
            <div class="col-sm-8">
                <div class="heading mb20"><h4><span class="ion-android-mail mr15"></span>Send us a Message</h4></div>
                <p class="mb20">Retail and Installation of Closed Circuit Television (CCTV) systems, Alarm systems and Safes & Depository Vaults for home, office and commercial use.</p>
                <form role="form">
                    <div class="form-group">
                        <input type="email" placeholder="Name" class="form-control" id="InputName">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Email Address" class="form-control" id="InputEmail1">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Message" id="InputMessage" rows="7"></textarea>
                    </div>
                    <button type="submit" class="btn btn-rw btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-sm-4 mt30-xs">
                <div class="content-box content-box-primary mb30">
                    <span class="ion-ios7-telephone-outline text-white border-white bordered-icon-static-sm mb10"></span>
                    <h2 class="text-white no-margin">09163262603</h2>
                </div>
                <div class="panel panel-primary no-margin">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="ion-android-system-home"></span> Information</h3>
                    </div>
                    <div class="panel-body">
                        <address class="no-margin">
                            <strong>IRIS Systems Ent.</strong><br>
                            R. Balderrama St., Capt. Ciano,<br>
                            Taguig City, Philippines<br>
                            <abbr title="Phone">P:</abbr> 3991543<br>
                            <abbr title="Phone">P:</abbr> 6977197<br>
                            <abbr title="Phone">P:</abbr> 09163262603<br>
                            Mail: <a href="irissystems@yahoo.com">irissystems@yahoo.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /container -->
</section><!-- /section -->
<!-- End Contact -->