@{
    ViewBag.Title = "Home Page";
}

<!-- Start Slider Revolution -->
<div class="rev_slider_wrapper">
    <div class="rev_slider" data-version="5.0" id="slider1">
        <ul>

            <!-- Slide 1 -->
            <li data-delay="9000"
                data-description="Our Business is defeating Burglars"
                data-easein="default"
                data-easeout="default"
                data-masterspeed="default"
                data-param1="test"
                data-rotate="0"
                data-slotamount="default"
                data-title="Raleway Intro"
                data-thumb="~/images/backgrounds/bg1.png"
                data-transition="slideremoveup">

                <!-- MAIN IMAGE -->
                <img alt=""
                     data-bgfit="cover"
                     data-bgposition="center center"
                     data-bgrepeat="no-repeat"
                     data-no-retina=""
                     height="800"
                     src="~/images/backgrounds/bg1.png"
                     style="background-color:#000;"
                     width="1732">

                <div class="tp-caption color-main fa fa-adn"
                     data-x="center"
                     data-y="105"
                     data-speed="600"
                     data-start="1200"
                     data-end="9400"
                     data-endspeed="600"
                     data-transform_idle="o:1;"
                     data-transform_in="y:10px;opacity:0;s:700;e:Power3.easeOut;"
                     data-transform_out="y:10px;opacity:0;s:500;e:Power2.easeInOut;"
                     style="font-family:'FontAwesome';font-size:71px;">
                </div>

                <div class="tp-caption"
                     data-x="center"
                     data-y="196"
                     data-speed="600"
                     data-start="1200"
                     data-end="9400"
                     data-endspeed="600"
                     data-transform_idle="o:1;"
                     data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                     data-transform_out="y:50px;opacity:0;s:500;e:Power2.easeInOut;"
                     style="padding: 0px 3px; font-size: 46px; visibility: visible; border-bottom:2px solid rgba(255, 255, 255, 0.24); color:#fff; font-family: 'Raleway' sans-serif;">
                    Welcome to <span class="heavy">IRIS Systems Enterprise</span>.
                </div>

                <div class="tp-caption"
                     data-x="center"
                     data-y="295"
                     data-speed="600"
                     data-start="1200"
                     data-end="9400"
                     data-endspeed="600"
                     data-transform_idle="o:1;"
                     data-transform_in="y:150px;opacity:0;s:700;e:Power3.easeOut;"
                     data-transform_out="y:150px;opacity:0;s:500;e:Power2.easeInOut;"
                     style="padding: 0px 3px; font-size: 24px; visibility: visible; color:#e0e0e0; font-family: 'Open Sans' sans-serif; text-align:center;">
                    <p>Our Business is defeating Burglars.</p>
                </div>

            </li>

            <!-- Slide 2 -->
            <li data-delay="10000"
                data-description="Some Description"
                data-easein="default"
                data-easeout="default"
                data-masterspeed="default"
                data-param1="test"
                data-rotate="0"
                data-slotamount="default"
                data-thumb="images/backgrounds/bg13.jpg"
                data-title="Features"
                data-transition="slideremoveleft">

                <!-- MAIN IMAGE -->
                <img alt=""
                     data-bgfit="cover"
                     data-bgposition="center center"
                     data-bgrepeat="no-repeat"
                     data-no-retina=""
                     height="800"
                     src="images/backgrounds/bg13.jpg"
                     style="background-color:#000;"
                     width="1732">

                <div class="tp-caption"
                     data-x="320"
                     data-y="105"
                     data-speed="600"
                     data-start="1200"
                     data-end="9400"
                     data-endspeed="600"
                     data-transform_idle="o:1;"
                     data-transform_in="y:10px;opacity:0;s:700;e:Power3.easeOut;"
                     data-transform_out="y:10px;opacity:0;s:500;e:Power2.easeInOut;"
                     style="color:#fff;font-size:35px;font-family:'Raleway' sans-serif;font-weight:200;border:2px solid #fff;padding:0 17px;">
                    A variety of quality products, for <strong>various</strong> needs.
                </div>

                <div class="tp-caption background-mainsub"
                     data-x="320"
                     data-y="195"
                     data-speed="600"
                     data-start="1200"
                     data-end="9400"
                     data-endspeed="600"
                     data-transform_idle="o:1;"
                     data-transform_in="x:100px;opacity:0;s:1200;e:Power3.easeOut;"
                     data-transform_out="y:100px;opacity:0;s:500;e:Power2.easeInOut;"
                     style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%">

                    <span class="fa fa-check"></span>

                </div>

                <div class="tp-caption"
                     data-x="390"
                     data-y="200"
                     data-speed="600"
                     data-start="1200"
                     data-end="9400"
                     data-endspeed="600"
                     data-transform_idle="o:1;"
                     data-transform_in="x:130px;opacity:0;s:1200;e:Power3.easeOut;"
                     data-transform_out="y:130px;opacity:0;s:500;e:Power2.easeInOut;"
                     style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;">
                     To Create Exceptional Solutions for <strong>safer and protected</strong>  environment.
                </div>

                <div class="tp-caption background-mainsub"
                     data-x="320"
                     data-y="260"
                     data-speed="600"
                     data-start="1200"
                     data-end="9400"
                     data-endspeed="600"
                     data-transform_idle="o:1;"
                     data-transform_in="x:160px;opacity:0;s:1200;e:Power3.easeOut;"
                     data-transform_out="y:160px;opacity:0;s:500;e:Power2.easeInOut;"
                     style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%">

                    <span class="fa fa-check"></span>

                </div>

                <div class="tp-caption"
                     data-x="390"
                     data-y="265"
                     data-speed="600"
                     data-start="1200"
                     data-end="9400"
                     data-endspeed="600"
                     data-transform_idle="o:1;"
                     data-transform_in="x:190px;opacity:0;s:1200;e:Power3.easeOut;"
                     data-transform_out="y:190px;opacity:0;s:500;e:Power2.easeInOut;"
                     style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;">
                     One-stop shop for your Security system requirement.
                </div>

                <div class="tp-caption background-mainsub"
                     data-x="320"
                     data-y="324"
                     data-speed="600"
                     data-start="1200"
                     data-end="9400"
                     data-endspeed="600"
                     data-transform_idle="o:1;"
                     data-transform_in="x:220px;opacity:0;s:1200;e:Power3.easeOut;"
                     data-transform_out="y:220px;opacity:0;s:500;e:Power2.easeInOut;"
                     style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%">

                    <span class="fa fa-check"></span>

                </div>

                <div class="tp-caption"
                     data-x="390"
                     data-y="329"
                     data-speed="600"
                     data-start="1200"
                     data-end="9400"
                     data-endspeed="600"
                     data-transform_idle="o:1;"
                     data-transform_in="x:260px;opacity:0;s:1200;e:Power3.easeOut;"
                     data-transform_out="y:260px;opacity:0;s:500;e:Power2.easeInOut;"
                     style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;">
                    Affordable and Dependable systems that will give our client peace of mind
                </div>

                <div class="tp-caption"
                     data-x="325"
                     data-y="395"
                     data-speed="600"
                     data-start="1200"
                     data-end="9400"
                     data-endspeed="600"
                     data-transform_idle="o:1;"
                     data-transform_in="y:70px;opacity:0;s:1000;e:Power3.easeOut;"
                     data-transform_out="y:70px;opacity:0;s:500;e:Power2.easeInOut;"
                     style="color:#fff;font-size:17px;font-family:'Open Sans' sans-serif;font-weight:300;">
                    <strong>+ and much more</strong>
                </div>

            </li>

            <!-- Slide 3 -->
            <li data-delay="11000"
                data-description="Raleway Bootstrap Template"
                data-transition="zoomin"
                data-easein="default"
                data-easeout="default"
                data-masterspeed="default"
                data-param1="test"
                data-rotate="0"
                data-thumb="revolution/assets/images/office_cover.jpg"
                data-slotamount="default"
                data-title="Flexibility">

                <div class="rs-background-video-layer"
                     data-forcerewind="on"
                     data-volume="mute"
                     data-forcerewind="on"
                     data-volume="mute"
                     data-videowidth="100%"
                     data-videoheight="100%"
                     data-videomp4="videos/Working-Space.mp4"
                     data-videopreload="preload"
                     data-videoloop="loopandnoslidestop"
                     data-forceCover="1"
                     data-aspectratio="16:9"
                     data-autoplay="true"
                     data-autoplayonlyfirsttime="false"
                     data-nextslideatend="true"></div>

                <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                     data-fontsize="['70','70','70','45']"
                     data-lineheight="['70','70','70','50']"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:5deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Back.easeOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1000"
                     style="z-index: 6; white-space: nowrap;">
                    MANY OPTIONS
                </div>

                <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1500"
                     style="z-index: 7; white-space: nowrap;">
                    an enterprise engaged in the distribution of high quality security systems and solutions
                </div>

                <div class="tp-caption NotGeneric-Icon tp-resizeme rs-parallaxlevel-0"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="2000"
                     style="z-index: 8;font-size:50px;line-height:52px; white-space: nowrap;">
                    <i class="fa fa-gears"></i>
                </div>

            </li>
        </ul>
    </div>
</div><!-- /rev slider -->
<!-- End Slider Revolution -->


<!-- Begin 3 Services -->
<div class="background-light-grey pt40 pb40 border-bottom">
    <div class="container">
        <div class="row">
            <!-- Content 1 -->
            <div class="col-sm-4 fadeInUp-animated text-center">
                <span class="ion-beaker bordered-icon-sm bordered-icon-color"></span>
                <h4 class="mt15">We do Close circuit security systems.</h4>
                <p class="p15xs no-margin">(closed-circuit television) is a TV system in which signals are not publicly distributed but are monitored, primarily for surveillance and security purposes. CCTV relies on strategic placement of cameras, and observation of the camera's input on monitors somewhere.</p>
            </div>
            <!-- Content 2 -->
            <div class="col-sm-4 fadeInUp-animated text-center mt20-xs">
                <span class="ion-beer bordered-icon-sm bordered-icon-color"></span>
                <h4 class="mt15">We do Door access systems</h4>
                <p class="p15xs no-margin">is a matter of who, where, and when. An access control system determines who is allowed to enter or exit, where they are allowed to exit or enter, and when they are allowed to enter or exit.</p>
            </div>
            <!-- Content 3 -->
            <div class="col-sm-4 fadeInUp-animated text-center mt20-xs">
                <span class="ion-help-buoy bordered-icon-sm bordered-icon-color"></span>
                <h4 class="mt15">We do Fire-proof & non-fireproof safes.</h4>
                <p class="p15xs no-margin">A secure lockable box used for securing valuable objects against theft and/or damage from fire.</p>
            </div>

        </div>
        <div class="row">
            <!-- Content 4 -->
            <div class="col-sm-4 fadeInUp-animated text-center">
                <span class="ion-beaker bordered-icon-sm bordered-icon-color"></span>
                <h4 class="mt15">We do Anti-burglary safes.</h4>
                <p class="p15xs no-margin">made of solid steel plating or a combination of solid steel and composite fill material such as concrete mixed with fire retardant filler.</p>
            </div>
            <!-- Content 5 -->
            <div class="col-sm-4 fadeInUp-animated text-center mt20-xs">
                <span class="ion-beer bordered-icon-sm bordered-icon-color"></span>
                <h4 class="mt15">We do Depository safes</h4>
                <p class="p15xs no-margin">is a special purpose safe used mainly by businesses for high usage scenarios.</p>
            </div>
            <!-- Content 6 -->
            <div class="col-sm-4 fadeInUp-animated text-center mt20-xs">
                <span class="ion-help-buoy bordered-icon-sm bordered-icon-color"></span>
                <h4 class="mt15">We do Filing cabinets.</h4>
                <p class="p15xs no-margin">office furniture consisting of a container for keeping papers in order.</p>
            </div>
        </div>
    </div><!-- /container -->
</div><!-- /cta -->
<!-- End 3 Services -->

<!-- Begin Accordion + IMG  -->
<div class="mt40 mb40">
    <div class="container">

        <!-- Begin Title -->
        <div class="row">
            <div class="col-sm-12 mb20">
                <div class="heading"><h4>About us</h4></div>
            </div>
        </div>

        <!-- Begin Accordion Row -->
        <div class="row">

            <div class="col-sm-6" data-sr="enter left">

                <!-- Begin Accordion -->
                <div class="panel-group" id="accordion">
                    <!-- Item 1 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    An enterprise engaged in the distribution of <b>high quality</b> security systems and solutions.
                                </a>
                            </h4>
                        </div><!-- /panel heading -->
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                We are committed to distribute top quality products for home, office, and other commercial use. These products include Close circuit security systems, door access systems, fire-proof & non-fireproof safes, anti-burglary safes, depository safes, Filing cabinet and other miscellaneous security and safety devices.
                            </div>
                        </div><!-- /panel collapse -->
                    </div><!-- /panel -->
                    <!-- Item 2 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <i>One-stop</i> shop for your Security system requirement.
                                </a>
                            </h4>
                        </div><!-- /panel heading -->
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Affordable and Dependable systems that will give our client peace of mind.
                            </div>
                        </div><!-- /panel collapse -->
                    </div><!-- /panel -->
                    <!-- Item 3 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Stands by its core values.
                                </a>
                            </h4>
                        </div><!-- /panel heading -->
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                IRIS Surveillance System, Ent. stands by its core values of Integrity, Reliability, Intelligent solutions and Superior technical know-how. we affirm our commitment to provide the growing market with quality products and services.
                            </div>
                        </div><!-- /panel collapse -->
                    </div><!-- /panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    Distributor of SECURIT safes, Hawkeye Surveillance Systems and Sebury
                                </a>
                            </h4>
                        </div><!-- /panel heading -->
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                IRIS Surveillance System, Ent. Is a distributor of SECURIT safes, Hawkeye Surveillance Systems and Sebury Door access systems which has been in the market since 1980’s, and has gained an excellent reputation for quality in the United States, Canada and other part of the world. The safes are also UL and ISO certified.
                            </div>
                        </div><!-- /panel collapse -->
                    </div><!-- /panel -->
                </div><!-- /panel group -->
               
                <!-- Button -->
                <div class="text-center">
                    <a href="@Url.Action("About", "Home")" class="btn btn-rw btn-primary">
                        About us
                    </a>
                </div><!-- /button -->

            </div><!-- /column -->
            <!-- Begin Image -->
            <div class="col-sm-6" data-sr="enter bottom">
                <img src="~/images/showcase4.png" class="img-responsive showcase-image" alt="Responsive Showcase 2">
            </div><!-- /column -->

        </div><!-- /row -->
        <!-- End Accordion Row -->

    </div><!-- /container -->
</div><!-- /content -->
<!-- End Accordion + IMG -->



<!-- Begin Content Section -->
<section class="content-bordered background-light-grey pt40 pb40">

    <div class="container">

        <!-- Begin Title -->
        <div class="row">
            <div class="col-xs-12">
                <p class="lead text-center">The <b><mark>Knuckleheads</mark></b></p>
                <hr style="width:400px;" class="double-hr mt30 mb30">
            </div>
        </div>

        <!-- Begin 6 Team Members -->
        <div class="row team-content-holder">

            <!-- Begin Team Member 1 -->
            <div class="team-member-holder" data-sr="enter left">
                <div class="col-sm-1">
                    <!-- Image -->
                    <img src="images/team-member-1.jpg" class="img-responsive br-2 team-member-img" alt="Team Member 1">
                </div>
                <div class="col-sm-3">
                    <!-- Name -->
                    <h4 class="team-member-name">James Adams</h4>
                    <!-- About -->
                    <div class="team-description">
                        <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi.</p>
                        <!-- Social -->
                        <a href="#"><span class="ion-social-twitter team-ico mr15"></span></a>
                        <a href="#"><span class="ion-social-facebook team-ico mr15"></span></a>
                        <a href="#"><span class="ion-social-googleplus-outline team-ico"></span></a>
                    </div>
                </div><!-- /column -->
            </div><!-- /team member holder -->
            <!-- Begin Team Member 2 -->
            <div class="team-member-holder mt30-xs" data-sr="enter top">
                <div class="col-sm-1">
                    <!-- Image -->
                    <img src="images/team-member-2.jpg" class="img-responsive br-2 team-member-img" alt="Team Member 2">
                </div>
                <div class="col-sm-3">
                    <!-- Name -->
                    <h4 class="team-member-name">Steven Rolo</h4>
                    <!-- About -->
                    <div class="team-description">
                        <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi.</p>
                        <!-- Social -->
                        <a href="#"><span class="ion-social-twitter team-ico mr15"></span></a>
                        <a href="#"><span class="ion-social-facebook team-ico mr15"></span></a>
                        <a href="#"><span class="ion-social-googleplus-outline team-ico"></span></a>
                    </div>
                </div><!-- /column -->
            </div><!-- /team member holder -->
            <!-- Begin Team Member 3 -->
            <div class="team-member-holder mt30-xs" data-sr="enter right">
                <div class="col-sm-1">
                    <!-- Image -->
                    <img src="images/team-member-3.jpg" class="img-responsive br-2 team-member-img" alt="Team Member 3">
                </div>
                <div class="col-sm-3">
                    <!-- Name -->
                    <h4 class="team-member-name">John Bender</h4>
                    <!-- About -->
                    <div class="team-description">
                        <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi.</p>
                        <!-- Social -->
                        <a href="#"><span class="ion-social-twitter team-ico mr15"></span></a>
                        <a href="#"><span class="ion-social-facebook team-ico mr15"></span></a>
                        <a href="#"><span class="ion-social-googleplus-outline team-ico"></span></a>
                    </div>
                </div><!-- /column -->
            </div><!-- /team member holder -->
            <!-- Begin Team Member 4 -->
            <div class="team-member-holder mt30-xs" data-sr="enter bottom">
                <div class="col-sm-2 mt30-lg">
                    <!-- Image -->
                    <img src="images/team-member-4.jpg" class="img-responsive br-2 team-member-img" alt="Team Member 1">
                </div>
                <div class="col-sm-4 mt30-lg">
                    <!-- Name -->
                    <h4 class="team-member-name">Louis Stevens</h4>
                    <!-- About -->
                    <div class="team-description">
                        <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia. Nam bibendum in mauris at sollicitudin lacinia.</p>
                        <!-- Social -->
                        <a href="#"><span class="ion-social-twitter team-ico mr15"></span></a>
                        <a href="#"><span class="ion-social-facebook team-ico mr15"></span></a>
                        <a href="#"><span class="ion-social-googleplus-outline team-ico"></span></a>
                    </div>
                </div><!-- /column -->
            </div><!-- /team member holder -->
            <!-- Begin Team Member 5 -->
            <div class="team-member-holder mt30-xs" data-sr="enter bottom">
                <div class="col-sm-2 mt30-lg">
                    <!-- Image -->
                    <img src="images/team-member-3.jpg" class="img-responsive br-2 team-member-img" alt="Team Member 2">
                </div>
                <div class="col-sm-4 mt30-lg">
                    <!-- Name -->
                    <h4 class="team-member-name">John Doe</h4>
                    <!-- About -->
                    <div class="team-description">
                        <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia. Nam bibendum in mauris at sollicitudin lacinia.</p>
                        <!-- Social -->
                        <a href="#"><span class="ion-social-twitter team-ico mr15"></span></a>
                        <a href="#"><span class="ion-social-facebook team-ico mr15"></span></a>
                        <a href="#"><span class="ion-social-googleplus-outline team-ico"></span></a>
                    </div>
                </div><!-- /column -->
            </div><!-- /team member holder -->

        </div><!-- /row -->
        <!-- End 6 Team Members -->

    </div><!-- /container -->
</section><!-- /section -->
<!-- End Content Section -->

<!-- Begin Recent Work + Clients -->
<section class="pt40 mb40 border-top">
    <div class="container">
        @*<div class="row">
            <div class="col-lg-12">
                <div class="heading mb30">
                    <h4><span class="ion-android-social-user mr15"></span>Recent Cases</h4>
                    <div class="owl-controls">
                        <div id="customNav" class="owl-nav"></div>
                    </div>
                </div>
                <div id="owl-carousel-thumb" class="owl-carousel" data-sr="enter top">
                    <div class="thumbnail">
                        <div class="caption v-wrap">
                            <div class="thumbnail-caption-holder v-box">
                                <h4 class="text-white">The Latia Project</h4>
                                <a href="#" class="btn btn-rw btn-clear"><span class="ion-android-search"></span> View</a>
                            </div>
                        </div>
                        <img src="images/backgrounds/stock1.jpg" alt="...">
                    </div>
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <h4 class="text-white">Goose UI</h4>
                                <a href="#" class="btn btn-rw btn-clear"><span class="ion-android-search"></span> View</a>
                            </div>
                        </div>
                        <img src="images/backgrounds/stock2.jpg" alt="...">
                    </div>
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <h4 class="text-white">Schroder's List</h4>
                                <a href="#" class="btn btn-rw btn-clear"><span class="ion-android-search"></span> View</a>
                            </div>
                        </div>
                        <img src="images/backgrounds/stock3.jpg" alt="...">
                    </div>
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <h4 class="text-white">NO Pelicans</h4>
                                <a href="#" class="btn btn-rw btn-clear"><span class="ion-android-search"></span> View</a>
                            </div>
                        </div>
                        <img src="images/backgrounds/stock4.jpg" alt="...">
                    </div>
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <h4 class="text-white">Fanbango</h4>
                                <a href="#" class="btn btn-rw btn-clear"><span class="ion-android-search"></span> View</a>
                            </div>
                        </div>
                        <img src="images/backgrounds/stock5.jpg" alt="...">
                    </div>
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <h4 class="text-white">The Latia Project</h4>
                                <a href="#" class="btn btn-rw btn-clear"><span class="ion-android-search"></span> View</a>
                            </div>
                        </div>
                        <img src="images/backgrounds/stock6.jpg" alt="...">
                    </div>
                </div>
            </div>
        </div>*@

        <div class="row">
            <div class="col-lg-12">
                <div class="heading mb30">
                    <h4><span class="ion-android-social-user mr15"></span>Clients served</h4>
                    <div class="owl-controls">
                        <div id="customNav" class="owl-nav"></div>
                    </div>
                </div>
            </div>
                <!-- Client 1 -->
                <div class="col-sm-2 col-xs-4 mb30-xs" data-sr="enter left">
                    <a href="#"><img src="images/clients/bizulogo.png" class="img-responsive clients-img" alt="Client 1"></a>
                </div>

                <!-- Client 2 -->
                <div class="col-sm-2 col-xs-4 mb30-xs" data-sr="enter left">
                    <a href="#"><img src="images/clients/pancakehouselogo.png" class="img-responsive clients-img" alt="Client 2"></a>
                </div>

                <!-- Client 3 -->
                <div class="col-sm-2 col-xs-4 mb30-xs" data-sr="enter left">
                    <a href="#"><img src="images/clients/stackerslogo.png" class="img-responsive clients-img" alt="Client 3"></a>
                </div>

                <!-- Client 4 -->
                <div class="col-sm-2 col-xs-4" data-sr="enter left">
                    <a href="#"><img src="images/clients/teriyakiboylogo.png" class="img-responsive clients-img" alt="Client 4"></a>
                </div>

                <!-- Client 5 -->
                <div class="col-sm-2 col-xs-4" data-sr="enter left">
                    <a href="#"><img src="images/clients/vivereHotellogo.png" class="img-responsive clients-img" alt="Client 5"></a>
                </div>

                <!-- Client 6 -->
                <div class="col-sm-2 col-xs-4" data-sr="enter left">
                    <a href="#"><img src="images/clients/heraldsuites.png" class="img-responsive clients-img" alt="Client 6"></a>
                </div>
            </div><!-- /row -->

    </div><!-- /container -->
</section><!-- /section -->
<!-- End Recent Work + Clients -->